<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/bg/bg1.jpg">
            <div class="card-body p-20" *ngIf="!recuperarPass">
                <h2 class="card-title text-center">
                    Registrese Ahora
                </h2>

                <p>
                    Al acceder y utilizar este servicio, usted acepta y accede a estar obligado por los términos y disposiciones de este acuerdo. Asimismo, al utilizar estos servicios particulares, usted estará sujeto a toda regla o guía de uso correspondiente que se haya
                    publicado para dichos servicios. Toda participación en este servicio constituirá la aceptación de este acuerdo. Si no acepta cumplir con lo anterior, por favor, no lo utilice
                </p>
                <p>
                    <a href="#register" class="btn btn-danger btn-block">Volver</a>
                </p>
            </div>
        </div>
    </div>
</div>