<!-- Sidebar  -->
<nav id="sidebar" class="bg-info">
    <div class="user-view text-center">
        <div class="bg-user-view" style="background-image: url(assets/images/bg/bg1.jpg);"></div>
        <div class="usuario">
            <a routerLink="/perfil">
                <img class="img-fluid img-thumbnail rounded-circle user-img" [src]="usuario.img | imagen" alt="user">
            </a>
            <h6 class="name">{{ usuario.nombre }}</h6>
            <span class="email">{{ usuario.email }}</span>
        </div>
    </div>

    <ul class="menu-sidebar">

        <li>
            <a [routerLink]="['/dashboard']">
                <i class="mdi mdi-monitor-dashboard"></i>Dashboard
            </a>
        </li>

        <li>
            <a [routerLink]="['/pacientes']">
                <i class="fa fa-user"></i>Pacientes
            </a>
        </li>

        <li>
            <a [routerLink]="['/tests']">
                <i class="fa fa-book"></i>Tests
            </a>
        </li>

        <!-- Menú dinámico -->
        <!-- <li *ngFor="let menu of _sidebar.menu">
            <a href="#tests" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i [class]="menu.icono"></i>
                <span class="hide-menu">{{ menu.titulo }} </span>
            </a>
            <ul class="collapse list-unstyled" id="tests">
                <li *ngFor="let submenu of menu.submenu">
                    <a routerLinkActive="active" [routerLink]="[ submenu.url ]">{{ submenu.titulo }} </a>
                </li>
            </ul>
        </li> -->
        <!-- Fin Menú dinámico -->

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i> Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li> -->
        <li>
            <a (click)="_usuarioService.logout()" class="link" data-toggle="tooltip" title="" data-original-title="Cerrar Sesión">
                <i class="mdi mdi-power"></i> Salir
            </a>
        </li>
    </ul>

</nav>

<!-- Page Content  -->
<!-- <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
        </div>
    </nav>
</div> -->