<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <h3 class="mb-1">Cargando</h3>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <p class="mt-1">Espere por favor</p>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-block bg-info">
                <div class="row p-1">
                    <div class="col-8 m-auto">
                        <h5 class="card-title text-white m-auto">
                            Tests registrados
                            <span class="badge badge-primary badge-pill">{{ totalRegistros }}</span>
                        </h5>
                    </div>
                    <div class="col-4 text-right">
                        <button [routerLink]="['/test', 'nuevo']" class="btn btn-danger">
                            <i class="fa fa-plus-circle"></i>
                            Agregar Test
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-block p-3">

                <div class="row p-1">
                    <div class="card col-2 p-0" *ngFor="let test of tests">
                        <a [routerLink]="['../test', test._id]">
                            <img class="card-img-top img-fluid" [src]="test.img | imagen:'test'" width="150">
                        </a>
                        <div class="card-body">
                            <a [routerLink]="['../test', test._id]">
                                <h6 class="card-title">{{ test.nombre }}</h6>
                            </a>
                            <p class="card-text">{{ test.descripcion }}<br> {{ test.categoria }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a *ngIf="esMiTest(test) === 'black'" (click)="agregarMisTest(test)">
                                    <i class="fa fa-heart" aria-hidden="true" [ngStyle]="{ color: esMiTest(test) }"></i>
                                </a>
                                <a *ngIf="esMiTest(test) === 'red'" (click)="quitarMisTest(test)">
                                    <i class="fa fa-heart" aria-hidden="true" [ngStyle]="{ color: esMiTest(test) }"></i>
                                </a>
                                <a (click)="borrarTest(test)" class="btn">
                                    <i class="far fa-trash-alt" style="color:red"></i>
                                </a>
                                <a [routerLink]="['/' + test.nombre.toLowerCase()]" routerLinkActive="router-link-active"  class="btn">
                                    <i class="fas fa-play-circle" style="color:blue"></i>
                                </a>
                            </small>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>